.repl-pane {
	color: #fff;
	white-space: pre-wrap;
	padding-left: 20px;
	padding-right: 20px;
}

#repl-input {
	background-color: #111;
	color: #fff;
	width: 90%;
	border: None !important;
}

#repl-input:focus {
	outline: none;
	background-color: #111;
}